body {
  background-color: #f5f5f5;
}

.ant-menu-submenu-popup {
  background: transparent;
  padding-bottom: 8px;
  padding-left: 3px;
}

.dropdown-root {
  position: fixed;
  left: 0 !important;
}

.ant-dropdown-menu-inline-collapsed-tooltip {
  display: none;
}

.ant-menu-inline-collapsed-tooltip {
  display: none;
}

.custom-tooltip {
  left: 67px !important;
}
