body {
  background-color: #f5f5f5;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.ant-menu-submenu-popup {
  background: transparent;
  padding-bottom: 8px;
  padding-left: 3px;
}
